
:root {
  --naranja: #fc7300;
  --turquesa: #1f8a70;
  --azul: #00425A;
  --azuloscuro: #181823;
  --blanco: #eff5f5;
}

body {
  background-color: #FFFFFF;
  color: #181823;
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: url("recursos/aulareceso.jpg");
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  padding: 00px;
  margin: 00px;
}

  .rectangle {
    height: 50px;
    width: 100px;
    background-color: #555;
  }

header>h1 {
  background-color: rgb(0, 66, 90, 0.8);
  color: var(--blanco);
  font-size: 48px;
  margin: 3;
  font-family: 'Belanosima', sans-serif;
  font-weight: 300;
  text-align: center;
  padding-top: 10px;

}

nav {
  background-color: var(--blanco);
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav a {
  color: var(--naranja);
  text-decoration: none;
  margin: 0 10px;
}

main {
  padding-top: 100px;
}

section {
  background-color: var(--blanco);
  color: #181823;
  padding: 30px;
  text-align: justify;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: var(--naranja)
}

.column-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex: 0 0 calc(33.33% - 10px);
  background-color: var(--naranja);
  color: var(--blanco);
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
}

.column img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

h2 {
  color: var(--naranja);
  font-size: 36px;
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

footer {
  background-color: var(--blanco);
  padding: 10px;
  text-align: center;
}

footer p {
  color: var(--naranja);
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .column {
    flex: 0 0 100%;
  }
}

